<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Form</h1>
    <form class="form" autocomplete="off">
      <label for="name"> name </label>
      <input type="text" name="name" id="name" />
      <label for="name"> email </label>
      <input type="email" name="email" id="email" />
      <button type="submit">Submit</button>
    </form>
    <script src="/js/browser.js"></script>
  </body>
</html>
